.root {
  width: 100%;
  min-height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  div, a {
    color: #fff;
  }
  :global {
    .loading {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, .4);
      z-index: 999;
      display: flex;
      justify-content: center;
      &::before {
        content: 'Loading...';
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        margin-top: 80px;
      }
    }
    .break-line {
      width: 360px;
    }
  }
}
