.root {
  width: 100%;
  min-height: 100vh;
  background: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  div, a {
    color: #fff;
  }
  :global {
    .title {
      font-size: 24px;
      margin-bottom: 12px;
      position: relative;
      &__link {
        font-size: 14px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateX(calc(-100% - 12px));
      }
      &__text {}
    }
    .break-line {
      width: 360px;
    }
  }
}
