.root {
  :global {
    .header {
      font-size: 24px;
      margin-bottom: 12px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      padding: 12px;
      border-bottom: 1px solid #fff;
      &__link {
        font-size: 14px;
        color: #fff;
        margin-right: 12px;
      }
      &__text {}
    }
  }
}
