.root {
  :global {
    .header {
      font-size: 24px;
      width: 100%;
      padding-top: 12px;
      height: 49px;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      border-bottom: 1px solid #fff;
      background: #1b1b1b;
      &__link {
        font-size: 14px;
        color: #fff;
        margin-right: 12px;
      }
      &__text {}
    }
  }
}
