.root {
  color: red;
  width: 480px;
  border: 1px solid #fff;
  margin-top: 12px;

  :global {
    .head, .item {
      display: flex;
      align-items: center;
      justify-content: center;

      &__id {
        width: 30px;
        padding: 0 6px;
      }

      &__pic {
        width: 120px;
        padding: 0 6px;
      }

      &__name {
        flex: 1;
        padding: 0 6px;
      }
    }

    .head {
      margin: 12px 0;

      &__id, &__pic {
        border-right: 1px solid #fff;
      }
    }

    .item {
      font-weight: 900;
      margin: 8px 0;
      position: relative;

      &__pic {
        img {
          width: 40px;
          height: 40px;
        }
      }

      &__name {
        font-style: italic;
      }
    }
  }
}

